<mat-dialog-content class="mat-typography">
  <div class="modal_container">
    <img
      [ngClass]="{'ey_logo' : data.job === 'EY', 'crs_logo' : data.job === 'CRS', 'cbi_logo' : data.job === 'CBI'}"
    />

    <span></span>

    <!--  EY BIO -->
    <p *ngIf="data.job === 'EY'">
      I worked with EY and was contracted out to Farm Bureau Insurance. This is
      where I was introduced to React and some in house technologies. We used a
      mixture to develop a guidewire based application that had a heavy focus on
      policycenter. My task was to create/refactor the front end that employees
      would be using to aid farm bureau customers with their insurance needs.
      <br /><br />
      Six other people worked on my team to accomplish our tasks. Manager,
      business analyst, backend developer, and four front end developers. We all
      learned from each other and communicated great, regardless our timezone
      barrier. (10 1/2 hour time difference with other programmers on my team).
      Due to this, it was mandatory to pick up new technologies and manage my
      time quickly. However, this didn't discourage me or pose as a problem.
      <br /><br />

      <span></span>

      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected>
          REACT.JS
        </mat-chip>

        <mat-chip color="primary" selected>
          JSX
        </mat-chip>

        <mat-chip color="primary" selected>
          REDUX
        </mat-chip>

        <mat-chip color="primary" selected>
          JUTRO
        </mat-chip>

        <mat-chip color="primary" selected>
          TYPESCRIPT
        </mat-chip>

        <mat-chip color="primary" selected>
          JAVASCRIPT
        </mat-chip>

        <mat-chip color="primary" selected>
          NODE.JS
        </mat-chip>

        <mat-chip color="primary" selected>
          EXPRESS.JS
        </mat-chip>

        <mat-chip color="primary" selected>
          GUIDEWIRE
        </mat-chip>

        <mat-chip color="primary" selected>
          POLICYCENTER
        </mat-chip>

        <mat-chip color="primary" selected>
          SALESFORCE
        </mat-chip>
      </mat-chip-list>
    </p>

    <!--  CRS BIO -->
    <p *ngIf="data.job === 'CRS'">
      Courthouse Research Specialists was the first company that hired me after
      I graduated college in 2020. My goal was to use the origianl MEAN stack
      (MongoDB, Express, Angular, and Node). However, I ended up substituting
      MongoDB out for PGADMIN4 due to my manager and I having more professional
      experience with it at the time. CRS tasked me with building a management
      application for their daily projects and employees progress.
      <br /><br />
      I worked with one other colleague over the course of a year on this
      project. His job was to manage my progress, plan future tasks, and
      communicate thoroughly with our client. My job was to make our clients
      vision into a reality! I was the sole full stack developer and enjoyed
      every second of it.
      <br /><br />

      <span></span>

      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected>
          ANGULAR
        </mat-chip>

        <mat-chip color="primary" selected>
          TYPESCRIPT
        </mat-chip>

        <mat-chip color="primary" selected>
          JAVASCRIPT
        </mat-chip>

        <mat-chip color="primary" selected>
          NODE.JS
        </mat-chip>

        <mat-chip color="primary" selected>
          EXPRESS.JS
        </mat-chip>

        <mat-chip color="primary" selected>
          PGADMIN4
        </mat-chip>

        <mat-chip color="primary" selected>
          AWS
        </mat-chip>
      </mat-chip-list>
    </p>

    <!--  CBI BIO -->
    <p *ngIf="data.job === 'CBI'">
      Conrad Blucher Institute of Surveying and Science was the first job I
      obtained that had anything to do with computer science. I was fortunate
      enough to begin my program development journey before graduating and am
      forever grateful for it. I worked on multiple projects while staying with
      CBI and I mainly worked on front-end development but would also
      participate in back-end tasks every so often as well.
      <br /><br />
      CBI's focus was surveying so all three of the projects, that I worked on,
      were centralized around mapping. The first project I worked on was used to
      archive map scans as a PDF to our database. After that they were available
      to the general public. My second project was made for the management of
      Geographic Information System (GIS) jobs. Surveying companys would buy our
      software to organize their projects. Lastly, the last project I worked on
      housed two- and three-dimensional data from terrestrial LiDAR, airborne
      LiDAR, and Unmanned Aerial Systems (UAS) in the form of point clouds,
      digital surface models (DSMs), digital elevation models (DEMs), and aerial
      imagery.
      <span></span>

      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected>
          ANGULAR
        </mat-chip>

        <mat-chip color="primary" selected>
          IONIC
        </mat-chip>

        <mat-chip color="primary" selected>
          HTML
        </mat-chip>

        <mat-chip color="primary" selected>
          TYPESCRIPT
        </mat-chip>

        <mat-chip color="primary" selected>
          JAVASCRIPT
        </mat-chip>

        <mat-chip color="primary" selected>
          NODE.JS
        </mat-chip>

        <mat-chip color="primary" selected>
          EXPRESS.JS
        </mat-chip>

        <mat-chip color="primary" selected>
          PGADMIN4
        </mat-chip>

        <mat-chip color="primary" selected>
          JQUERY
        </mat-chip>

        <mat-chip color="primary" selected>
          PHP
        </mat-chip>
      </mat-chip-list>
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-stroked-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
