<div>
  <mat-toolbar style="background-color: black;">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span style="color: white;">Portfolio</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div class="header">
    <h1 style="font-size: 60px; font-weight: 50;">Hi, my name is Ruben Ortiz</h1>

    <h3 style="font-size: 40px; margin-top: 0; font-weight: 50;">I'm a software Engineer that welcomes <br> challenges and adapts to environmets</h3>
  </div>

  <div class="container">
    <div class="flex-item">
      <img class="img" src="../../assets/img/background_removed.png">
    </div>

    <div class="flex-item">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam diam libero, laoreet ut lacinia quis, consequat
        quis neque. Morbi neque nulla, cursus eu varius at, fermentum eu quam. Donec varius commodo lorem interdum
        consequat. Quisque sed fringilla erat, porttitor imperdiet leo. Vestibulum varius tellus nisi, vitae viverra
        nisi
        consectetur sit amet. Pellentesque pellentesque erat sapien, ut consequat diam eleifend ut. Pellentesque eu
        tortor
        ipsum. Nunc leo ligula, maximus at dapibus nec, ullamcorper vel ligula. Etiam id bibendum enim, vestibulum
        lobortis magna. Pellentesque a ante semper, facilisis erat quis, condimentum orci.
      </p>
    </div>
  </div>
</div>
