<div>
  <!-- HEADER -->
  <div class="header">
    <h1 style="font-size: 60px; font-weight: 50;">
      Hi, my name is Ruben Ortiz
    </h1>

    <h3 style="font-size: 40px; margin-top: 0; font-weight: 50;">
      I'm a software Engineer that welcomes <br />
      challenges and adapts to environmets quickly
    </h3>
  </div>

  <!-- CONTAINER 1 (PICTURE & BIO) -->
  <div class="container1">
    <div class="flex-item">
      <mat-card style="background-color: #ededed;">
        <mat-card-header class="pic-header">
          <div class="pic-header">
            <mat-icon
              class="pic-icon"
              style="margin-right: 5px;"
              (click)="openEmail()"
            >
              local_post_office</mat-icon
            >

            <img class="pic-icon linkedin_icon" (click)="openLinkedIn()" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <img class="img pro-image" />
        </mat-card-content>
      </mat-card>
    </div>

    <div class="flex-item bio">
      <p>
        Hello! I'm Ruben, a Software Engineer based in San Antonio, TX who's
        experienced in taking fullstack applications from scratch to production.
      </p>
      <br />
      <p>
        Over the last 4 years, I've had the opportunity to develop for a handful
        of awesome companies / clients as a consultant and continue to do so
        today. My work includes developing web apps, creating backend servers,
        handling small-scale DevOps, and adapting with technology.
      </p>
    </div>
  </div>

  <!-- CONTAINER 2 (WORK EXPERIENCE) -->
  <div class="container2">
    <div class="flex-item">
      <h1>My work experience:</h1>
    </div>

    <!-- WORK ITEM 1 -->
    <div class="flex-item item" (click)="openJobDescription('EY')">
      <h3 style="color: #43a6c6;">
        Ernst & Young
        <span style="color: #848884;">(2022-2023)</span>
      </h3>

      <div>
        <p style="color: #848884;">
          Guidewire based application designed for Farm Bureau Mutual Insurance
          employees to aid customers with insurance.
        </p>
      </div>

      <div>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>
            REACT
          </mat-chip>

          <mat-chip color="primary" selected>
            JUTRO
          </mat-chip>

          <mat-chip color="primary" selected>
            TYPESCRIPT
          </mat-chip>

          <mat-chip color="primary" selected>
            JAVASCRIPT
          </mat-chip>

          <mat-chip color="primary" selected>
            NODE.JS
          </mat-chip>

          <mat-chip color="primary" selected>
            EXPRESS.JS
          </mat-chip>

          <mat-chip color="primary" selected>
            GUIDEWIRE
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <!-- WORK ITEM 2 -->
    <div class="flex-item item" (click)="openJobDescription('CRS')">
      <h3 style="color: #43a6c6;">
        Courthouse Research Specialists
        <span style="color: #848884;">(2020-2021)</span>
      </h3>

      <div>
        <p style="color: #848884;">
          Web application designed for employee and project management.
        </p>
      </div>

      <div>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>
            ANGULAR
          </mat-chip>

          <mat-chip color="primary" selected>
            TYPESCRIPT
          </mat-chip>

          <mat-chip color="primary" selected>
            JAVASCRIPT
          </mat-chip>

          <mat-chip color="primary" selected>
            NODE.JS
          </mat-chip>

          <mat-chip color="primary" selected>
            EXPRESS.JS
          </mat-chip>

          <mat-chip color="primary" selected>
            PGADMIN4
          </mat-chip>

          <mat-chip color="primary" selected>
            AWS
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <!-- WORK ITEM 3 -->
    <div class="flex-item item" (click)="openJobDescription('CBI')">
      <h3 style="color: #43a6c6;">
        Conrad Blucher Institute of Surveying & Science
        <span style="color: #848884;">(2019-2020)</span>
      </h3>

      <div>
        <p style="color: #848884;">
          Worked on multiple GIS based projects through the course of one and a half
          years.
        </p>
      </div>

      <div>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip color="primary" selected>
            ANGULAR
          </mat-chip>

          <mat-chip color="primary" selected>
            IONIC
          </mat-chip>

          <mat-chip color="primary" selected>
            HTML
          </mat-chip>

          <mat-chip color="primary" selected>
            TYPESCRIPT
          </mat-chip>

          <mat-chip color="primary" selected>
            JAVASCRIPT
          </mat-chip>

          <mat-chip color="primary" selected>
            NODE.JS
          </mat-chip>

          <mat-chip color="primary" selected>
            EXPRESS.JS
          </mat-chip>

          <mat-chip color="primary" selected>
            PGADMIN4
          </mat-chip>

          <mat-chip color="primary" selected>
            JQUERY
          </mat-chip>

          <mat-chip color="primary" selected>
            PHP
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
